@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-size: 14px;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: hsl(218, 23%, 16%);
	font-family: "Manrope";
	font-weight: 800;
}
.card {
	width: 90%;
	height: 300px;
	text-align: center;
	color: hsl(193, 38%, 86%);
	background-color: hsl(217, 19%, 24%);
	border-radius: 10px;
	padding: 30px;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.card h1 {
	text-transform: uppercase;
	color: hsl(150, 100%, 66%);
	letter-spacing: 3px;
	font-size: 0.75rem;
	padding-bottom: 10px;
}

.quote {
	font-size: 1.2rem;
	padding: 10px 0;
	line-height: 1.5;
}
.a {
	margin-top: 20px;
}
.divider {
	position: relative;
	left: 50%;
	transform: translate(-50%, -50%);
}

.dices {
	width: 60px;
	height: 60px;
	position: relative;
	bottom: -70px;
	margin: -20px;
	transform: translateY(-20%);

	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 50%;
	background-color: hsl(150, 100%, 66%);
	border: 1px solid hsl(150, 100%, 66%);
	transition: all 0.5s ease;
}
.dices:hover {
	box-shadow: 0 0 20px 2px hsl(150, 100%, 66%);
}
.dices img {
	width: 20px;
}
@media screen and (max-width: 375px) {
	.dices {
		bottom: -60px;
		margin: -10px;
	}
}

@media screen and (min-width: 500px) {
	.card h1 {
		font-size: 1rem;
	}
	.quote {
		font-size: 1.7rem;
		padding: 20px 0;
	}
	.dices {
		width: 90px;
		height: 90px;
		bottom: -70px;
	}
	.dices img {
		width: 35px;
	}
}
