@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 14px;
}
body {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: hsl(218, 23%, 16%);
	font-family: "Manrope";
	font-weight: 800;
}
.card {
	position: relative;
	max-width: 90%;
	min-height: 300px;
	text-align: center;
	color: hsl(193, 38%, 86%);
	background-color: hsl(217, 19%, 24%);
	border-radius: 10px;
	padding: 0 30px;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: all 0.5s ease;
}

.card h1 {
	margin-top: -10px;
	text-transform: uppercase;
	color: hsl(150, 100%, 66%);
	letter-spacing: 3px;
	font-size: 0.9rem;
}

.quote {
	font-size: 1.5rem;
	padding: 35px 0;
	line-height: 1.5;
}
.divider {
	position: relative;
	left: 50%;
	transform: translate(-50%, -50%);
}

.dices {
	width: 60px;
	height: 60px;
	position: absolute;
	bottom: -30px;
	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 50%;
	background-color: hsl(150, 100%, 66%);
	border: 1px solid hsl(150, 100%, 66%);
	transition: all 0.5s ease;
}
.dices:hover {
	box-shadow: 0 0 20px 2px hsl(150, 100%, 66%);
}
.dices img {
	width: 20px;
}

@media screen and (min-width: 500px) {
	.card {
		min-width: 400px;
		max-width: 500px;
		min-height: 300px;
	}
	.card h1 {
		font-size: 0.9rem;
	}
	.quote {
		font-size: 1.5rem;
		padding: 40px 0;
	}
	.a {
		width: 100%;
	}
	.divider {
		width: 80%;
		float: left;
	}
	.dices {
		width: 70px;
		height: 70px;
		bottom: -40px;
	}
	.dices img {
		width: 30px;
	}
}
@media screen and (min-width: 768px) {
	.card {
		max-width: 500px;
		min-height: 300px;
	}
	.divider {
		width: 80%;
		float: left;
	}
}
